# Data Science Tools and Ecosystem

**Objectives:**
- List popular languages for Data Science
- Data Science Tools
- Evaluating arithmetic expressions

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. **Python** 
2. **R** 
3. **SQL**

Some of the commonly used libraries used by Data Scientists include:

1. **NumPy** 
2. **Pandas** 
3. **TensorFlow**

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Elena